/* Header */
.title h1{
    text-align: center;
    margin-top: 20px;
	background-color: #002147;
	color: #ffffff;
}
.header {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    flex-wrap: wrap; /* Ajouté pour que les éléments se déplacent si nécessaire */
}
.images-left, .images-right {
    display: flex;
    gap: 10px;
    align-items: center;
}
.images-left img, .images-right img {
    width: 100%;  /* Rend l'image responsive */
    height: auto;
    max-width: 160px;  /* Limite la taille maximale de l'image */
    flex: 1;  /* Permet à l'image de s'adapter à l'espace disponible */
}
.title {
    text-align: center;
    flex-grow: 2;  /* Augmente l'espace pour le titre */
    font-size: 1.5rem;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.radius {
    margin: 20px;
    background-color: #002147;
    border-radius: 10px;
}
.navbar .menu {
    display: flex;
    gap: 10px;
}

.navbar .menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #d81920;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.navbar .menu a:hover {
    background-color: #bb181a;
    transform: scale(1.05);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d81920;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    opacity: 0;
}
.dropdown-content a {
    display: block;
    padding: 12px 16px;
    background-color: #d81920;
    color: white;
    text-align: left;
    border: none;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #bb181a;
}
.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    opacity: 1;
}

/* /Header */


.gras {
    font-weight: bold;
    margin-top: 15px;
}

th, td {
    border-right: 1px solid;
    text-align: center;
}

h3 {
    margin: 20px;
}

.partieAC {
    display: flex;
    justify-content: center;
}

.doubleul{
    margin-left:15px;
}

.table-evaluation {
    border : 1px solid black;
    border-collapse: collapse;
    margin: 20px;
    width: 500px;
    height: 45px;
}

.hyperlinkrevenirhaut {
    color: blue;
    display: flex;
    justify-content: center;
}

.comp1color{
    background-color: #e2c6bd;
}
.comp2color{
    background-color: #f4baa9;
}
.comp3color{
    background-color: #fae8a9;
}
.comp4color{
    background-color: #cbd6ac;
}
.comp5color{
    background-color: #adb7db;
}
.comp6color{
    background-color: #ccb5ad;
}

.detailcompetence {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    color: #000000;
}

.titreressource {
    display: flex;
    align-items: first baseline;
    justify-content:left;
    padding: 20px;
}

.couleurC1fonce {
    padding: 15px;
    border-radius: 10px;
    background-color: #c09789;
    color: #000000;
}

.couleurC2fonce {
    padding: 15px;
    border-radius: 10px;
    background-color: #c4826e;
    color: #000000;
}

.couleurC3fonce {
    padding: 15px;
    border-radius: 10px;
    background-color: #c2af6a;
    color: #000000;
}

.couleurC4fonce {
    padding: 15px;
    border-radius: 10px;
    background-color: #9fb16e;
    color: #000000;
}

.couleurC5fonce {
    padding: 15px;
    border-radius: 10px;
    background-color: #6676ad;
    color: #000000;
}

.couleurC6fonce {
    padding: 15px;
    border-radius: 10px;
    background-color: #ad7e6e;
    color: #000000;
}

.titredescritpion {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}


/* Style général du corps */
body {
    font-family: 'Arial', sans-serif;
    border: none;
    background-color: #f8f8f8; /* Fond général clair */
    margin: 0;
    padding: 0;
    color: #333;
}


h1 {
    text-align: center;
    margin-top: 20px;
	background-color: #cc0000;
	color: #ffffff;
}

.partie {
    background-color:#fbeaea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
	display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.partie-basse {
    background-color: #fbeaea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
	display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.partie .gauche {
	padding: 20px;
    flex: 1;
	background-color: #f5deb3;
	width : 100%;
}

.partie .droite {
	padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
	background-color: #eeaaaa;
	border-radius: 10px;
}

.partie .droite .inputs {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 80%;
}

.image2 p {
	background-color : #eeaaaa;
    border-radius: 5px;
	padding : 10px;
}

#boutenvoyer {
    background-color: #cc0000; /* Couleur par défaut du bouton */
    color: white; /* Couleur du texte */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Animation de transition */
}

#boutenvoyer:hover {
    background-color: #ff7373; /* Nouvelle couleur lorsque la souris est dessus */
}


.partie-basse .droite-b {
	padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
	background-color: #c19a6b;
	width : 50%;
	padding-top : 55px;
	padding-bottom : 55px;
	max-height : 80%;
}

.partie-basse .gauche-b {
	padding: 20px;
    flex: 1;
	background-color: #f5deb3;
	width : 50%;
	max-height : 80%;
}

#map {
	width: 100%;
    height: 80%;
    object-fit: cover;
	max-height: 350px;
}

#icon {
	width: 100%;
    height: 80%;
    object-fit: cover;
	max-height: 350px;
}

textarea {
    width: 88%;
    height: 151px; 
	padding: 20px;
	border-radius: 10px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



/* Style pour les liens */
a {
    color: #ffffff; /* Blanc pour les liens */
    text-decoration: none; /* Pas de soulignement par défaut */
    font-weight: bold; /* Mettre en gras pour plus de lisibilité */
    transition: color 0.3s ease; /* Effet de transition pour le survol */
}


a:hover {
    color: #ff7373; /* Rouge au survol pour cohérence */
    text-decoration: underline; /* Soulignement au survol */
}


/* Ajustement de la taille des titres */
h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}


/* Style pour les noms d'équipe */
.team {
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-weight: normal; /* Normal pour harmoniser avec le reste */
    margin: 5px 0; /* Espacement pour aérer */
    text-align: left; /* Alignement de gauche à droite */
}

/* Conteneur principal */
.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd; /* Bordure légère */
    background-color: #ffffff; /* Fond blanc */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

/* Description */
.description {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffebee; /* Rouge clair */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Conteneur de tableau */
.tableau{
    background-color: lightgray;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

/* Titre coefficient */
.titrepage {
    border: 1px solid #e53935; /* Rouge principal */
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #ffccbc; /* Orange clair */
    color: #333; /* Texte sombre */
    border-radius: 5px;
}

/* Image des compétences */
.competence-img img {
    width: 150px;
    height: auto;
    border-radius: 10px; /* Coins arrondis */
}

/* Bloc de compétences */
.competence-block {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

/* Contenu des compétences */
.competence-content {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 10px;
    justify-content: center;
    background-color: #ffffff; /* Fond blanc */
    border: 1px solid #ddd;
    border-radius: 10px;
    flex-direction: column;
}


/* Competence */
.competence1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    font-weight: bold;
    background-color: #e2c6bd;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Competence */
.competence2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    font-weight: bold;
    background-color: #f4baa9;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Competence */
.competence3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    font-weight: bold;
    background-color: #fae8a9;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Competence */
.competence4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    font-weight: bold;
    background-color: #cbd6ac;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Competence */
.competence5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    font-weight: bold;
    background-color: #adb7db;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Competence */
.competence6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    font-weight: bold;
    background-color: #ccb5ad;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}





/* Wrapper pour les compétences */
.competence-wrapper {
    margin-bottom: 10%;
}

div.article {
  display : flex;
  padding: 10px;
  margin : 10px; 
  background-color: #ffffff;
  border-radius: 10px;
}


ul{
  list-style-type: none;
  padding: 0px;
}

#BUT {
  margin-right: 20px;
  max-width: 200px;
  max-height: 200px;
}

.IUT {
  display: block;
  max-width: 300px;
  transition:
    transform 0.3s;
}
  
.IUT:hover {
  background-color: #ffcccc;
  transform: scale(1.08);
}

.article_contacts{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#list-contacts{
  
  padding: 10px;
  margin : 10px;
  display: flex;
  flex-direction: column;
}
.contacts{
  display: flex;
  
}

.contacts_menu{
  display : flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0px;
}


.contacts_item_logo{
  max-height: 50px;
  margin: 10px;
}

#list-competences{
  display: flex;
  padding: 10px;
  margin: 10px;


}

#list-competences-list{
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#bloc-competences{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin : 10px;
}

.competences{
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px;
  list-style-type: circle;
  
}

p.competences{
  max-width: 300px;
}

#wiki-lien{
    color: #000000; /* Blanc pour les liens */
    text-decoration: none; /* Pas de soulignement par défaut */
    font-weight: bold; /* Mettre en gras pour plus de lisibilité */
    transition: color 0.3s ease; /* Effet de transition pour le survol */
}

#wiki-lien:hover {
    color: #ff7373; /* Rouge au survol pour cohérence */
    text-decoration: underline; /* Soulignement au survol */
}

.img-competences{
    max-width: 250px;
    max-height: 250px;
}

hr {
    border: 0;
    height: 4px;
    background: #cc0000;
    width: 75%; 
    margin: 20px auto;
}

.descriptioncompetence {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f8f8; /* Rouge clair */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* footer */
.footer {
    background-color: #002147; /* Couleur bleu foncé */
    color: white;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 20px;
}
.footer .plan-du-site,
.footer .rgpd,
.footer .enterprise-info {
    margin-bottom: 20px;
    flex: 1;
    min-width: 200px;
}
.footer .plan-du-site h3,
.footer .rgpd h3,
.footer .enterprise-info h3 {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.footer .plan-du-site ul,
.footer .rgpd ul,
.footer .enterprise-info ul {
    list-style: none;
    padding: 0;
}
.footer .plan-du-site ul li,
.footer .rgpd ul li,
.footer .enterprise-info ul li {
    margin: 5px 0;
}
.footer .plan-du-site a,
.footer .rgpd a,
.footer .enterprise-info a {
    color: white;
    text-decoration: none;
}
.footer .plan-du-site a:hover,
.footer .rgpd a:hover,
.footer .enterprise-info a:hover {
    text-decoration: underline;
}

/*snow effect*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}




.snow {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    color: #fff;
    font-size: 24px;
    opacity: 0.8;
    pointer-events: none;
    animation: fall 5s infinite linear;
}

@keyframes fall {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(100vh);
    }
}

/* Count-down */
#showCountdown {
    transition: background-color 0.3s;
    font-family: 'Orbitron', sans-serif;
}

#countdown {
    display: none;
    font-size: 2em;
    margin-top: 20px;
    color: white;
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 1s ease, transform 1s ease;
    display: none;
    font-family: 'Orbitron', sans-serif;
}

#countdown.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Responsivité */
@media (max-width: 700px) {
    
    /* Header */
    .header {
        flex-direction: column;
    }
    .navbar .menu {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .dropdown-content {
        position: static;
        box-shadow: none;
    }

    /* Body */
    .mainbody {
        padding: 10px;
    }

    .MainContentBloc {
        flex-direction: column;
    }
    #BUT {
        margin-right: 20px;
        max-width: 200px;
        max-height: 200px;
        align-items: center;
    }
    .article {
        flex-direction: column;
    }
    .BlocImage, .Bloc, .Contact {
        width: 100%;
        margin: 10px 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border: 1px solid #ddd; /* Bordure légère */
        background-color: #ffffff; /* Fond blanc */
        border-radius: 10px; /* Coins arrondis */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    }

    /* Footer */   
}

.button-event{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #d81920;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
}

.button-stack {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding-bottom: 60px; /* To avoid the message from overlapping the buttons */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}
.button-container button:hover {
    transform: scale(1.1);
    background-color: #d81920;
    color: white;
}
.button-container button:active {
    transform: scale(0.9);
    background-color: #d81920;
}

.message {
    font-family: Verdana, sans-serif;
    display: none;
    position: fixed;
    bottom: 20px;  /* Keep the message at the bottom of the page */
    left: 50%;
    transform: translateX(-50%);
    background-color: #0f0fac;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

.snowman-popup {
    display: none; 
    position: relative; 
    z-index: 9999; 
}

.snowman-popup img {
    width: 100px;
    height: auto;
}


