body {
    font-famiy: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    <!--background-color: #e6be8a;
}

h1 {
    text-align: center;
    margin-top: 20px;
    <!--background-color: yellow;
}

.partie {
    <!--background-color: #e3a857;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
	display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.partie .gauche {
	padding: 20px;
    flex: 1;
	<!--background-color: #f5deb3;
	width : 100%;
}

.partie .droite {
	padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
	<!--background-color: #c19a6b;
}

.partie .droite .inputs {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 80%;
}

#boutenvoyer {
    background-color: #cc0000; /* Couleur par défaut du bouton */
    color: white; /* Couleur du texte */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Animation de transition */
}

#boutenvoyer:hover {
    background-color: #45a049; /* Nouvelle couleur lorsque la souris est dessus */
}

.partie-basse {
    <!--background-color: #e3a857;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
	display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.partie-basse .droite-b {
	padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
	<!-- background-color: #c19a6b;
	width : 50%;
	padding-top : 55px;
	padding-bottom : 55px;
	max-height : 80%;
}

.partie-basse .gauche-b {
	padding: 20px;
    flex: 1;
	<!-- background-color: #f5deb3;
	width : 50%;
	max-height : 80%;
}

img {
	width: 100%;
    height: 80%;
    object-fit: cover;
	max-height: 350px;

}

textarea {
    width: 88%;
    height: 151px; 
	padding: 20px;

}
