/* Conteneur principal */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd; /* Bordure légère */
    background-color: #ffffff; /* Fond blanc */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

/* Description */
.description {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffebee; /* Rouge clair */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Conteneur de tableau */
.table-container {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-collapse: collapse; /* Pour enlever bordure entre cellules */
}

th, td {
    border-right: 1px solid;
}
/* Titre coefficient */
.coef-titre {
    border: 1px solid #e53935; /* Rouge principal */
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #ffccbc; /* Orange clair */
    color: #333; /* Texte sombre */
    border-radius: 5px;
}

/* Style général du corps */
body {
    font-family: 'Arial', sans-serif;
    border: none;
    background-color: #f8f8f8; /* Fond général clair */
    margin: 0;
    padding: 0;
    color: #333;
}

/* Image des compétences */
.competence-img img {
    width: 600px;
    height: auto;
    border-radius: 10px; /* Coins arrondis */
}

/* Bloc de compétences */
.competence-block {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/* Contenu des compétences */
.competence-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 10px;
    justify-content: center;
    background-color: #ffffff; /* Fond blanc */
    border: 1px solid #ddd;
    border-radius: 10px;
}


/* Ressources */
.ressources1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    height: 100px;
    font-weight: bold;
    background-color: #e2c6bd;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ressources */
.ressources2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    height: 100px;
    font-weight: bold;
    background-color: #f4baa9;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ressources */
.ressources3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    height: 100px;
    font-weight: bold;
    background-color: #fae8a9;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ressources */
.ressources4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    height: 100px;
    font-weight: bold;
    background-color: #cbd6ac;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ressources */
.ressources5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    height: 100px;
    font-weight: bold;
    background-color: #adb7db;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Ressources */
.ressources6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    height: 100px;
    font-weight: bold;
    background-color: #ccb5ad;
    color: #000000; /* Noir text  */
    transition: background-color 0.3s ease, color 0.3s ease;
}





/* Wrapper pour les compétences */
.competence-wrapper {
    margin-bottom: 10%;
}

/* Effet de survol sur une compétence */
.competence-content div:hover {
    color: white; /* Texte blanc */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Légère mise en avant */
}

h1 {
    text-align: center;
}